body{
    background-color: black;
    width: 100vw;
    height: 100vh;
    padding:0;
    margin:0;
}

div.backgroundpicture {
    grid-row: 3 / 14;
    grid-column: 1 / 9;
}

div.wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: #18121E;
    grid-template-columns: repeat( 8, 2fr);
    grid-template-rows: repeat( 13, 4fr);
    margin-left: auto;
    margin-right: auto;
}

div.menu {
    height: 100vh;
    width: 80vw;
    background-color: #233237;
    position: absolute;
    display: none;
    grid-template-rows: repeat(14, 4fr);
    grid-template-columns: repeat(4, 2fr);
    transition: 1s;
}

div.dropdown {
    display: grid;
    grid-template-rows: repeat(14, 4fr);
    grid-template-columns: repeat(8, 2fr);
    color: white;
    transition: 1s;
}

div.lodatva {
    display: grid;
    grid-row: 2 / 7;
    grid-column: 2 / 8;
    background-color: rgb(255, 255, 255);
    border: solid 4px rgb(105, 102, 102);
    border-radius: 10px;
    font-family: 'Noticia Text', serif;
    text-align: center;
    color: white;
}

nav {
    display: grid;
    grid-row: 1 / 3;
    grid-column: span 2;
    background-color:#233237;
    text-align: center;
    color: white;
}

nav .material-icons {
    font-size: 5em;
}

menu .material-icons {
    font-size: 5em;
}

div .headerlogo {
    display: grid;
    grid-row: span 2;
    grid-column: 3 / 9;
}

div .kladerloda {
    display: grid;
    grid-row: 4 / 10;
    grid-column: 2 / 8;
    background-color: white;
}

div .main {
    display: grid;
    grid-row: 3 / 14;
    grid-column: 1 / 9;
}

div.wrapperklader {
    display: grid;
    background-color: #18121E;
    grid-template-columns: repeat( 8, 2fr);
    grid-template-rows: repeat( 13, 4fr);
    margin-left: auto;
    margin-right: auto;
}

div.welcome {
    display: grid;
    grid-row: 3 / 7;
    grid-column: 1 / 9;
}