<div class="wrapperacc">
        <div class="acc">
                <figure class="kopa">
                    <img src="img/pugacc1.png" />
                    <div class="icons">
                            <a href="shoppingcart.html">
                                <i class="icon ion-md-cart"></i>
                            </a>
                    </div>
                    <figcaption>
                        <h3> Nurse Costume </h3>
                        <div class="price">$25.00</div>
                    </figcaption>
                </figure>
                <figure class="kopa">
                    <img src="img/pugacc2.png" />
                    <div class="icons">
                        <a>
                            <a href="shoppingcart.html">
                                <i class="icon ion-md-cart"></i>
                            </a>
                        </a>
                    </div>
                    <figcaption>
                        <h3>Backpack (Brown) (One-size)</h3>
                        <div class="price">$34.99</div>
                    </figcaption>
                </figure>
                <figure class="kopa">
                    <img src="img/pugacc3.png" />
                    <div class="icons">
                            <a href="shoppingcart.html">
                                    <i class="icon ion-md-cart"></i>
                                </a>
                    </div>
                    <figcaption>
                        <h3>Yoda Costume (One Size)</h3>
                        <div class="price">$19.00</div>
                    </figcaption>
                </figure>
            </div>
    <div class="footerindex">
        </div>
        <div class="footertwitter">
            <a href="https://twitter.com/LucasAckerberg">
                <img src="img/twitterlogo.jpg" alt="">
            </a>
        </div>
        <div class="footerinstagram">
            <a href="https://www.instagram.com/lucasackerberg/">
                <img src="img/instagramlogo.png" alt="">
            </a>
        </div>
        <div class="footergithub">
            <a href="https://github.com/itggot-lucas-ackerberg">
                <img src="img/githublogo.png" alt="">
            </a>
        </div>
    </div>
</div>