<div class="wrapperklader">
    <div class="welcome">
        <img src="img/welcome.jpg" alt="">
    </div>
    <div class="slide">
        <img alt="slide1" class="imgshadow" name="slide" width="375" height="200" </img>
    </div>
    <div class="store">
        <a href="klader.html">
            <img src="img/storev2.png" alt="">
        </a>
    </div>
    <div class="size">
            <a href="shoppingcart.html">
                <img src="img/sizeguide.png" alt="">
            </a>
        </div>
    <div class="footerindex">
    </div>
    <div class="footertwitter">
        <a href="https://twitter.com/LucasAckerberg">
            <img src="img/twitterlogo.jpg" alt="">
        </a>
    </div>
    <div class="footerinstagram">
        <a href="https://www.instagram.com/lucasackerberg/">
            <img src="img/instagramlogo.png" alt="">
        </a>
    </div>
    <div class="footergithub">
        <a href="https://github.com/itggot-lucas-ackerberg">
            <img src="img/githublogo.png" alt="">
        </a>
    </div>
    <script src="js/slideshow.js"></script>
</div>