<div class="wrapperklader">
    <div class="acc">
        <figure class="kopa">
            <img src="img/pugklader1.png" />
            <div class="icons">
                    <a href="shoppingcart.html">
                        <i class="icon ion-md-cart"></i>
                    </a>
            </div>
            <figcaption>
                <h3>Hoodie (Grey)</h3>
                <div class="price">$15.00</div>
            </figcaption>
        </figure>
        <figure class="kopa">
            <img src="img/pugklader2.png" />
            <div class="icons">
                <a>
                    <a href="shoppingcart.html">
                        <i class="icon ion-md-cart"></i>
                    </a>
                </a>
            </div>
            <figcaption>
                <h3>Costume (Navy Blue)</h3>
                <div class="price">$89.00</div>
            </figcaption>
        </figure>
        <figure class="kopa">
            <img src="img/pugklader3.png" />
            <div class="icons">
                    <a href="shoppingcart.html">
                            <i class="icon ion-md-cart"></i>
                        </a>
            </div>
            <figcaption>
                <h3>Green Fleece Sweater</h3>
                <div class="price">$19.00</div>
            </figcaption>
        </figure>
    </div>
    <div class="footerindex">
    </div>
    <div class="footertwitter">
        <a href="https://twitter.com/LucasAckerberg">
            <img src="img/twitterlogo.jpg" alt="">
        </a>
    </div>
    <div class="footerinstagram">
        <a href="https://www.instagram.com/lucasackerberg/">
            <img src="img/instagramlogo.png" alt="">
        </a>
    </div>
    <div class="footergithub">
        <a href="https://github.com/itggot-lucas-ackerberg">
            <img src="img/githublogo.png" alt="">
        </a>
    </div>
</div>