<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.1.2/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Pugify</title>
</head>

<body>
    <div class="wrapper">
        <div class="menu">
            <i class="material-icons" onclick="toggleMenu()">clear</i>
            <div class="lodatva">
                <H2>
                    <a href="./accessoarer.html">Accessoarer</a>
                </H2>
            </div>
            <div class="lodatre">
                <H2>
                    <a href="./klader.html">Kläder</a>
                </H2>
            </div>
            <div class="lodafyra">
                <H2>
                    <a href="./shoppingcart.html">Betala</a>
                </H2>
            </div>
        </div>
        <nav>
                <div class="knapp1">
                        <H2>
                            <a href="./accessoarer.html">Accessoarer</a>
                        </H2>
                    </div>
                    <div class="knapp2">
                        <H2>
                            <a href="./klader.html">Kläder</a>
                        </H2>
                    </div>
                    <div class="knapp3">
                        <H2>
                            <a href="./shoppingcart.html">Betala</a>
                        </H2>
                    </div>
            <i class="material-icons" onclick="toggleMenu()">menu</i>
        </nav>
        <div class="headerlogo">
            <a href="./index.html"></a>
        </div>
        <main>
            <%= yield %>
        </main>
    </div>
    <script src="js/menu.js"></script>
</body>

</html>