<div class="wrappercheckout">
    <div class="pictures">
        <img src="img/credentials.png" alt="">
    </div>
    <div class="credentials">
        <form>
            <br>
            <input type="text" placeholder="First Name">
            <br>
            <br>
            <input type="text" placeholder="Last Name">
            <br>
            <br>
            <input type="text" placeholder="Credit-card number:">
            <br>
            <br>
            <input type="text" placeholder="CVC">
            <br>
            <br>
            <input type="text" placeholder="Expiry Date">
            <br>
            <br>
            <input type="text" placeholder="Puglover-street 6">
            <br>
            <br>
            <input type="text" placeholder="Size - S/M/L">
            <br>

        </form>
    </div>
    <div class="buttonpay">
        <a href="http://farm3.static.flickr.com/2330/2368496281_1c18192bc9_o.jpg">
            <h2>Pay</h2>
        </a>
    </div>
    <div class="payleft">
    </div>
    <div class="payright">
    </div>
    <div class="footerindex">
    </div>
    <div class="footertwitter">
        <a href="https://twitter.com/LucasAckerberg">
            <img src="img/twitterlogo.jpg" alt="">
        </a>
    </div>
    <div class="footerinstagram">
        <a href="https://www.instagram.com/lucasackerberg/">
            <img src="img/instagramlogo.png" alt="">
        </a>
    </div>
    <div class="footergithub">
        <a href="https://github.com/itggot-lucas-ackerberg">
            <img src="img/githublogo.png" alt="">
        </a>
    </div>
</div>