.wrapper {
    display: grid;
    width: 100vh;
    height: auto;
    background-color: saddlebrown;
    grid-template-columns: repeat( 8, 2fr);
    grid-template-rows: repeat( 13, 4fr);
    margin-left: auto;
    margin-right: auto;
}